@import "variables";

.story {
  text-align: center;

  &__box {
    position: relative;
    padding: 24px 0;
    width: 100%;
    height: 100%;
  }

  &__image {
    width: 100%;

    @media only screen and (min-width: $desktop-width) {
      position: absolute;
      top: 24px;
      left: 0;
      width: 600px;
      height: 400px;
    }
  }

  &__text {
    padding: 84px 60px;
    background-color: $white;

    h1 {
      color: $black !important;
    }

    @media only screen and (min-width: $desktop-width) {
      position: absolute;
      right: 0;
      bottom: 20px;
      width: 560px;
      height: 360px;
      text-align: left;

      p {
        line-height: 2;
      }
    }

    @media only screen and (max-width: $desktop-width) {
      padding: 48px 24px 0;

      h1 {
        font-size: $medium;
      }
      p {
        font-size: $small;
      }
    }
  }
}
